/** CSS
    Face jokkolabs Mali (yeleman)

**/

body {   background-color: #758D3C;
    /*background-image: linear-gradient(to bottom, #758D3C, #2A0004);*/
    background-color: #758D3C;
    background-image: linear-gradient(to bottom, #A769FF, #FFDFFA);
    font-size: 12px;
}

/** WRAPPER */

.clearfix {
    clear: both;
}

/** PAGE */

#page
{
    overflow: hidden;
}


#page .heading-title
{
    margin-bottom: 2em !important;
}

#content img
{
/*    display: block;
    width: 100%;
    margin-bottom: 2em;*/
}


/* Footer */

#footer
{
    overflow: hidden;
    padding: 5em 0em;
    color: powderblue;
}

#footer p
{
    font-size: 12px;
}

#footer a
{
    color: #999999;
}

#banner
{
    color: #FFFFFF;
    height: 257px;
    overflow: hidden;
    padding-top: 6px;
    width: 599px;
}

#banner h2 {
    padding-bottom: 20px;
    letter-spacing: -1px;
    font-size: 2.20em;
    font-weight: 400;
}

#banner h2 span {
    font-weight: 700;
}

#banner p {
    font-size: 14px;
    color: #cddaf8;
}

#banner a {
    color: #FFFFFF;
}

/** List Style */


ul.style1 .first {
    margin-left: 0px;
}

.button-style {
    background: none repeat scroll 0 0 #AF2C54;
    border: 1px solid #FCC2C1;
    clear: both;
    display: inline-block;
    margin-top: 30px;
    padding: 7px;
    text-decoration: none;
}

.button-style:hover {
    background: #982648;
}

.posted-style {
    background: none repeat scroll 0 0 #252A0D;
    color: #FFE4FF;
    padding: 1px 2px;
}

.posted-stylef {
    background: none repeat scroll 0 0 #252A0D;
    color: #FFE4FF;
    padding: 1px 2px;
    vertical-align: top;
}

.navbar-inverse .navbar-inner {
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, none, none);
    background-repeat: repeat-x scroll 0 0 transparent;
    border-color: #FFFFFF;
}

#refresh {
    height: 1em;
    margin-left: 2em;
    margin-top: 3em;
    width: 6em;
}
.star {
    float: right;
}
.star img {
    max-height: 20em;
    max-width: 20em;
    min-height: 20em;
    min-width: 20em;
    border: 1px solid white;
}

a {
    color: #FFFFFF;
}
a:hover
{
    text-decoration: none;
}


.zoom {
    background: url(/media/css/images/zoom.png);
    border: 0px solid;
    list-style-image: none;
}

img.alignleft {
    float: left;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

#dashboard #p2 img, #dashboard #p1 img{
    max-height: 15em;
    max-width: 15em;
    min-height: 15em;
    min-width: 15em;
    vertical-align: top;
    border: 1px solid white;
}

ul li img{
    max-height: 5em;
    max-width: 5em;
    min-height: 5em;
    min-width: 5em;
    vertical-align: top;
    border: 1px solid white;
}

#dashboard #refresh .img-circle {
    background-color: white;
    border-color: #666666;
    border-radius: 500px 500px 500px 500px;
    padding: 0.5em;
}

#down {
    float: right;
    height: 5px;
    margin-right: 3em;
}

a:hover
{
    text-decoration: none;
    color: #d0d0d0;
}

#yoxview_menuPanel {
    border-radius: 0 0 0 15px;
    height: 42px;
    padding-right: 9px;
    padding-top: 0;
    position: relative;
    right: 0;
}

h1 {
    font-family: 'Gentium Basic',serif;
    font-style: italic; margin: 0 0 10px;
    padding-top: 0;
    text-shadow: 1px 4px 6px #5E4343;
}

h2, h3, h4, h5, .carousel-caption .lead {
    color: #fff;
    line-height: 1.25;
    margin: 0;
    padding-bottom: 19px;
    text-shadow: 3px 0px 0px rgba(0, 0, 0, 0.3);
}


p { font-size: 1.2em; }

ul li { display: inline; }

.wide {
    border-bottom: 1px #000 solid; width: 4000px;
}

.fleft { float: left; margin: 0 20px 0 0; }

.cboth { clear: both; }

#main {
    background: #fff;
    margin: 0 auto;
    padding: 30px;
    width: 1000px; }

#cbox1
{
    float: left;
    width: 245px;
    /*margin-right: 20px;*/
}
.bsap a { float: left; }
