/** CSS
    Face jokkolabs Mali (yeleman)

**/

body {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#04172E) to(#FFFFFF)) no-repeat fixed 0 0 transparent; /*old webkit*/
    background: -webkit-linear-gradient(#04172E, #FFFFFF) no-repeat fixed 0 0 transparent; /*new webkit*/
    background: -moz-linear-gradient(#04172E, #FFFFFF) no-repeat fixed 0 0 transparent; /*gecko*/
    background: -ms-linear-gradient(#04172E, #FFFFFF) no-repeat fixed 0 0 transparent; /*IE10 preview*/
    background: -o-linear-gradient(#04172E, #FFFFFF) no-repeat fixed 0 0 transparent; /*opera 11.10+*/
    background: linear-gradient(#04172E, #FFFFFF) no-repeat fixed 0 0 transparent; /*future CSS3 browsers*/
    -pie-background: linear-gradient(#04172E, #FFFFFF) no-repeat fixed 0 0 transparent; /*PIE*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#04172E', endColorstr='#FFFFFF'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#04172E', endColorstr='#FFFFFF')"; /* IE8 */

}

.navbar-inverse .navbar-inner {
    border-color: #B6B6B6;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(to left, #FFFFFF) to(#070A18)) no-repeat fixed 0 0 transparent; /*old webkit*/
    background: -webkit-linear-gradient(left, #070A18, #FFFFFF) no-repeat fixed 0 0 transparent; /*new webkit*/
    background: -moz-linear-gradient(to left, #FFFFFF, #070A18) no-repeat fixed 0 0 transparent; /*gecko*/
    background: -ms-linear-gradient(to left, #FFFFFF, #070A18) no-repeat fixed 0 0 transparent; /*IE10 preview*/
    background: -o-linear-gradient(to left, #FFFFFF, #070A18) no-repeat fixed 0 0 transparent; /*opera 11.10+*/
    background:  linear-gradient(to left, #FFFFFF, #070A18); /*future CSS3 browsers*/
    -pie-background: linear-gradient(to left, #FFFFFF, #070A18) no-repeat fixed 0 0 transparent; /*PIE*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#070A18'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#070A18')"; /* IE8 */
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #484848;
    height: 16px;
    margin-top: 2px;
}

/** WRAPPER */
.span9 {
    border-right: 1px solid #D2D6EC;
}

.clearfix {
    clear: both;
}

/** PAGE */

#page {
    overflow: hidden;
}

#page .heading-title {
    margin-bottom: 2em !important;
}

/* Footer */

#footer {
    overflow: hidden;
    padding: 5em 0em;
    color: powderblue;
}

#footer p {
    font-size: 12px;
}

#footer a {
    color: #999999;
}

#banner {
    color: #FFFFFF;
    height: 250px;
    overflow: hidden;
    padding-top: 6px;
    width: 599px;
}

#banner h2 {
    padding-bottom: 20px;
    letter-spacing: -1px;
    font-size: 2.20em;
    font-weight: 400;
}

#banner h2 span {
    font-weight: 700;
}

#banner p {
    font-size: 14px;
    color: #cddaf8;
}

#banner a {
    color: #F6F6F6;
}

/** List Style */

ul.style1 .first {
    margin-left: 0px;
}

.button-style {
    background: none repeat scroll 0 0 #427AAE;
    border: 1px solid #4295BB;
    clear: both;
    display: inline-block;
    margin-top: 41px;
    padding: 4px;
    text-decoration: none;
}

.button-style:hover {
    background: #0095D9;
}

.posted-style {
    background: none repeat scroll 0 0 #427AAE;
    border: 1px solid #8EB4B9;
    color: #FFFEFF;
}

.posted-stylef {
    background: none repeat scroll 0 0 #427AAE;
    border: 1px solid #8EB4B9;
    color: #FFFEFF;
    padding: 1px 2px;
    vertical-align: top;
}

#refresh {
    height: 1em;
    margin-left: 3em;
    margin-top: 6em;
    width: 5em;
}
.star {
    float: right;
    margin-right: 5px;
}
.star img {
    border: 1px solid #FFFFFF !important;
    box-shadow: 0 2px 3px 3px #427AAE !important;
    max-height: 16em;
    max-width: 16em;
    min-height: 16em;
    min-width: 16em;
}

a {
    color: #FFFFFF;
}
a:hover {
    text-decoration: none;
}

.zoom {
    /*background: url(/media/css/images/zoom.png);*/
    border: 0px solid;
    list-style-image: none;
}

img.alignleft {
    float: left;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

#dashboard #p2 img, #dashboard #p1 img{
    max-height: 15em;
    max-width: 15em;
    min-height: 15em;
    min-width: 15em;
    vertical-align: top;
    border: 1px solid #FFFFFF !important;
    box-shadow: 0 1px 3px 1px #666666 !important;
}

ul li img{
    border: 1px solid #FFFFFF !important;
    box-shadow: 0 1px 3px 1px #666666 !important;
    margin: 4px;
    max-height: 4em;
    max-width: 4em;
    min-height: 4em;
    min-width: 4em;
    vertical-align: top;
}

#dashboard #refresh .img-circle {
    height: 90px;
    padding: 1px;
    width: 70px;
}

#dashboard #refresh .img-circle:hover {
    height: 95px;
    width: 80px;
}
#down {
    float: right;
    height: 5px;
    margin-right: 3em;
}

a:hover {
    text-decoration: none;
    color: #d0d0d0;
}

#yoxview_menuPanel {
    border-radius: 0 0 0 15px;
    height: 42px;
    padding-right: 9px;
    padding-top: 0;
    position: relative;
    right: 0;
}

h1 {
    font-family: 'Gentium Basic',serif;
    font-style: italic; margin: 0 0 10px;
    padding-top: 0;
    text-shadow: 2px 1px 1px #E2CCFA;
}

h2, h3, h4, h5, .carousel-caption .lead {
    color: #fff;
    line-height: 1.25;
    margin: 0;
    padding-bottom: 19px;
    text-shadow: 3px 0px 0px rgba(0, 0, 0, 0.3);
}


p { font-size: 1.2em; }

ul li { display: inline; }

.wide {
    border-bottom: 1px #000 solid; width: 4000px;
}

.fleft { float: left; margin: 0 20px 0 0; }

.cboth { clear: both; }

#main {
    background: #fff;
    margin: 0 auto;
    padding: 30px;
    width: 1000px; }

#cbox1 {
    float: left;
    width: 226px;
}

.bsap a { float: left; }

.container {
    width: 850px;
}

ul, ol {
    margin: 0 0 7px 4px;
    padding: 0;
}
