{% extends "base.html" %}
{% block title %} face{% endblock %}
{% block page-id %}dashboard{% endblock %}
{% block content %}

<div class="row-fluid">
    <div class="span9" style="border-right:1px solid #E5E5E6">
        <h2 class="heading-title" style="text-align:center">Laquelle te plaît le plus <blink>?</blink></h2>
        <div class="row-fluid">

            <div class="span4">
                <div id="p1" class="chow_picture">
                        <!-- image de gauche -->
                 </div>
            </div>
            <div class="span3">
                <div id="refresh">
                    <a href="#" ><img class="img-circle" src="{{ STATIC_URL }}css/images/refresh.png" onclick="refresh()"></img></a>
                </div>
            </div>
            <div class="span4">
                <div id="p2" class="chow_picture">
                        <!-- image de droite -->
                 </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}