{% extends "base.html" %}
{% block title %} face{% endblock %}
{% block content %}

<div class="row-fluid">
    <h2 class="heading-title" style="text-align:center">Laquelle te plaît le plus <blink>?</blink></h2>
    <div class="row-fluid">
        <div class="span4">
            <div id="p1" class="gallery clearfix">
                    <!-- image de gauche -->
             </div>
        </div>
        <div class="span2">
            <div id="refresh">
                <a href="#" ><img class="img-circle" src="/media/css/images/refresh.png" onclick="refresh()"></img></a>
            </div>
        </div>
        <div class="span4">
            <div id="p2" class="gallery clearfix">
                    <!-- image de droite -->
             </div>
        </div>
    </div>
</div>

{% endblock %}