{% extends "base.html" %}
{% load tinymce_tags %}
{% block title %} face{% endblock %}
{% block page-id %}dashboard{% endblock %}
{% block content %}


<div class="row-fluid">
    <div class="span9" style="border-right:1px solid #E5E5E6">
        <h2 class="heading-title" style="text-align:center">PHOTOS <blink></blink></h2>
        <div class="row-fluid">
            <ul class="gallery clearfix">

                {% for pict in picturelist %}
                <li><a href="{{pict.link}}" rel="prettyPhoto[gallery1]"><img src="{{pict.link}}" width="60" height="60" alt="{{ pict.favorable }} points" /></a></li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $("area[rel^='prettyPhoto']").prettyPhoto();

    $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true});
    $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});

    $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
        custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
        changepicturecallback: function(){ initialize(); }
    });

    $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
        custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
        changepicturecallback: function(){ _bsap.exec(); }
    });
});
</script>

<!-- BuySellAds.com Ad Code -->
<style type="text/css" media="screen">
    .bsap a { float: left; }
</style>
<script type="text/javascript">
(function(){
  var bsa = document.createElement('script');
     bsa.type = 'text/javascript';
     bsa.async = true;
     bsa.src = '//s3.buysellads.com/ac/bsa.js';
  (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
})();
</script>
            <!-- END BuySellAds.com Ad Code -->
{% endblock %}