#!/usr/bin/env python
# encoding=utf-8


import settings

settings.DEBUG = True

settings.MEDIA_URL = '/media/'

settings.DATABASES = {'default': {
    'ENGINE': 'django.db.backends.sqlite3',
    'NAME': 'fèdo.sqlite',
    'USER': 'fèdo',
    'PASSWORD': 'fèdo',
    'HOST': '',
    'PORT': ''}
}

settings.INSTALLED_APPS = settings.INSTALLED_APPS + ('django_extensions',)
# change that one!
settings.SECRET_KEY = '___(-_-)___'
